<ion-header>
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      Login
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input [(ngModel)]="loginData.email" (ionInput)="updateEmail($event)"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input [(ngModel)]="loginData.password" (ionInput)="updatePassword($event)" type="password"></ion-input>
      </ion-item>
      <div class="ion-text-end ion-margin">
        <ion-button color="secondary" fill="outline" (click)="login()">Sign In</ion-button>
        <ion-button color="danger" fill="outline" (click)="register()">Register</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
