<ion-header>
  <ion-toolbar color="secondary">
    <ion-title class="ion-text-center">
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      Login
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <!-- the binding between user input and ts variable -->
        <ion-input [(ngModel)]="loginData.email"></ion-input>
      </ion-item>

      <ion-item>
        <!-- the binding between user input and ts variable -->
        <ion-label position="floating">Password</ion-label>
        <ion-input [(ngModel)]="loginData.password" type="password"></ion-input>
      </ion-item>
      <div class="ion-text-end ion-margin">
        <!-- Event binding to run the login function to Sign in -->
        <ion-button color="secondary" fill="outline" (click)="login()">Sign In</ion-button>
        <!-- Event binding to run the register function to go to register-page-->
        <ion-button color="danger" fill="outline" (click)="register()">Register</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
