<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title class="ion-text-center">
      Announces
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="AddAnnounce()">
        <ion-icon slot="icon-only" name="add-circle-outline" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button (click)="Leave()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngIf="announces.length > 0; else noAnnounces">
    <ion-item *ngFor="let announce of announces">
      <ion-thumbnail slot="start">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ announce.title }}</h2>
        <p>{{ announce.description }}</p>
        <p>Catégorie: {{ announce.category }}</p>
        <p>Utilisateur: {{ announce.user }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ng-template #noAnnounces>
    <ion-text color="medium">
      <p>No Announces found!.</p>
    </ion-text>
  </ng-template>
</ion-content>
