<ion-header>
  <ion-toolbar color="secondary">
    <ion-title class="ion-text-center">
      Register
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input [(ngModel)]="registerData.email" (ionInput)="updateEmail($event)"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input [(ngModel)]="registerData.password" (ionInput)="updatePassword($event)" type="password"></ion-input>
      </ion-item>
      <!-- Display error messages -->
      <div *ngIf="errorMessage" class="ion-text-center ion-text-danger ion-margin">
        {{ errorMessage }}
      </div>
      <div class="ion-text-end ion-margin">
        <ion-button color="Primary" fill="outline" (click)="register()">Register</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
